<template>
  <div class="puzzle-wrap">


    <div class="wrap"
         ref="wrap"
         @touchstart="touchstartHandler"
         @touchend="touchendHandler"
         @touchmove="touchmoveHandler">
      <canvas data-value="1"></canvas>
      <canvas data-value="2"></canvas>
      <canvas data-value="3"></canvas>
      <canvas data-value="4"></canvas>
      <canvas data-value="5"></canvas>
      <canvas data-value="6"></canvas>
      <canvas data-value="7"></canvas>
      <canvas data-value="8"></canvas>
      <canvas data-value="9"></canvas>
    </div>


  </div>
</template>

<script>

  // inspired by https://github.com/lwzhang/pages/tree/gh-pages/puzzle

  /**
   * puzzle
   * 一开始不会打乱图片顺序
   */

  export default {
    name: "Puzzle",
    props: {
      imgSrc: {   // 图片地址
        type: String,
        required: true,
      },
      shuffle: null,  // 此值改变(和上次不同的值)后会进行一次重新排列图片. 可以传入随机数
      initWithShuffle: Boolean,   // 初始化时是否打乱顺序
    },

    watch: {
      shuffle: {
        // immediate: true,
        handler() {
          this.shuffleHandler();
        }
      }
    },

    data() {
      return {}
    },

    mounted() {
      this.init();
    },

    methods: {

      shuffleHandler() {

        if(!this.hasInit) {
          console.warn('puzzle has not inited yet')
          return;
        }

        const arr = [1, 2, 3, 4, 5, 6, 7, 8, 9];
        const random = this.shuffleArr(arr);

        [].forEach.call(document.querySelectorAll("canvas"), function (item, i) {
          item.style.order = random[i];
        });

        this.startTime = Date.now();

        this.checkFinish();
      },

      init() {
        return this.drawPieces();
      },

      drawImage(url) {
        return new Promise(function (resolve, reject) {
          var img = new Image();
          img.onload = function () {
            resolve(img);
          };
          img.onerror = function(err) {
            reject(err);
          };
          img.src = url;
        })
      },

      drawPieces() {
        const _this = this;
        const wrap = this.$refs.wrap;
        this.drawImage(this.imgSrc).then(function (img) {
          var arr = [1, 2, 3, 4, 5, 6, 7, 8, 9];
          [].forEach.call(document.querySelectorAll(".wrap canvas"), function (item, i) {
            item.width = wrap.clientWidth / 3;
            item.height = wrap.clientHeight / 3;
            item.style.order = arr[i];
            var ctx = item.getContext("2d");
            ctx.drawImage(img, img.width * (i % 3) / 3, img.height * Math.floor(i / 3) / 3, img.width / 3, img.height / 3, 0, 0, item.width, item.height);
          });

          // 初始化成功
          _this.hasInit = true;

          if(_this.initWithShuffle) {
            _this.shuffleHandler();
          }
        });
      },

      touchstartHandler(e) {
        var target = this.target = e.target;
        if(e.target.tagName.toLowerCase() !== "canvas") {
          return;
        }
        var ctx = target.getContext("2d");
        var image = this.imageData = ctx.getImageData(0, 0, target.width, target.height);
        var obj = this.obj = target.cloneNode(true);
        obj.getContext("2d").putImageData(image, 0, 0);
        var top = this.top = target.getBoundingClientRect().top, left = this.left = target.getBoundingClientRect().left;
        obj.style.cssText = "position: absolute; top: " + top + "px; left: " + left + "px";
        document.body.appendChild(obj);

        const {height, width} = target;
        const targetCtx = target.getContext('2d');
        targetCtx.clearRect(0, 0, width, height);

        this.point = {"x": e.touches[0].pageX, "y": e.touches[0].pageY};
      },

      touchmoveHandler(e) {
        const point = this.point, obj = this.obj, top = this.top, left = this.left;
        obj.style.cssText = "position: absolute; top:" + (e.touches[0].pageY - point.y + top) + "px; left: " + (e.touches[0].pageX - point.x + left) + "px";
      },

      touchendHandler(e) {
        const target = this.target, obj = this.obj;
        var pos = {"x": e.changedTouches[0].pageX, "y": e.changedTouches[0].pageY};
        const targetCtx = target.getContext('2d');

        // 是否超出边界
        const wrapRect = this.$refs.wrap.getBoundingClientRect()
        const bounding = {
          minLeft: wrapRect.left,
          minTop: wrapRect.top,
          maxLeft: wrapRect.left + wrapRect.width,
          maxTop: wrapRect.top + wrapRect.height,
        }

        if(pos.x < bounding.minLeft ||
          pos.x > bounding.maxLeft ||
          pos.y < bounding.minTop ||
          pos.y > bounding.maxTop
        ) {

          if(obj.parentNode) {
            document.body.removeChild(obj);
          }
          targetCtx.putImageData(this.imageData, 0, 0);
          return;
        }

        [].forEach.call(document.querySelectorAll(".wrap canvas"), (item)=> {
          var offset = item.getBoundingClientRect();
          if(pos.x > offset.left && pos.x < (offset.left + item.width) && pos.y > offset.top && pos.y < (offset.top + item.height)) {
            var order1 = item.style.order;
            var order2 = target.style.order;
            if(obj.parentNode) {
              document.body.removeChild(obj);
            }

            item.style.order = order2;
            target.style.order = order1;

            this.checkFinish();

            targetCtx.putImageData(this.imageData, 0, 0);
          }
        });
      },

      shuffleArr(arr=[]) {
        let res = [];

        let len = arr.length;
        while(len--) {
          const random = Math.floor(Math.random() * arr.length);
          res.push(arr.splice(random, 1)[0]);
        }

        return res;
      },

      checkFinish() {
        const cans = document.querySelectorAll("canvas")
        for(let i=0, n=cans.length-1; i<n; i++ ) {
          const pre = cans[i];
          const cur = cans[i+1];

          if(pre.style.order >= cur.style.order) {
            return false;
          }
        }

        const endTime = Date.now();
        const time = endTime - this.startTime;
        const detail = {
          startTime: this.startTime,
          endTime: Date.now(),
          time: time,
        }

        this.$emit('finish', {detail})
        return true;
      },

    }
  }
</script>

<style scoped>

  .wrap {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  .wrap canvas {
    width: 33.3333%;
    height: 33.3333%;
    box-sizing: border-box;
    border: 0.5px solid transparent;
  }

</style>
