<template>
  <div id="app">

    <Puzzle class="puzzle" :shuffle="random" :img-src="Pic" @finish="finish" init-with-shuffle></Puzzle>

    <button @click="shuffle">shuffle</button>

  </div>
</template>

<script>
import Puzzle from './components/Puzzle.vue'
import Pic from '@/assets/pic.jpg'

export default {
  name: 'app',
  components: {
    Puzzle
  },
  data() {
    return {
      Pic,
      random: 0,
    }
  },
  methods: {
    shuffle() {
      this.random = Math.random()
    },
    finish(e) {
      console.log(e)
    }
  }
}
</script>

<style lang="scss">

  .puzzle {
    width: 345px;
    height: 488px;
  }

  html, body {
    width: 100%;
    overflow: hidden;
  }

</style>
